<a class="crypto-compare-embedded" href={{cardstack-url content}} >
  <div data-test-crypto-compare-embedded-from-currency>From: {{content.fromCryptoCurrency}}</div>
  <div data-test-crypto-compare-embedded-to-currency>To: {{content.toFiatCurrency}}</div>
  <div data-test-crypto-compare-embedded-cents>To: {{content.cents}} cents</div>
  <div data-test-crypto-compare-embedded-date>Date: {{content.gmtDate}}</div>
</a>
