<TopHeader />
<main class="portfolio-isolated" data-test-portfolio-isolated>
  <nav class="portfolio-isolated--side-nav" data-test-portfolio-isolated-side-nav>
    <ul class="portfolio-isolated--side-nav-list">
      {{!-- TODO: Scroll animation and link nav items --}}
      <li>
        <a href="#" {{action "displayAll"}} class="portfolio-isolated--side-nav--link {{if (eq displayGroup "all") "active"}}">
          {{svg-jar "home" width="18px" height="18px" class="portfolio-isolated--side-nav--icon"}}
          Show All
        </a>
      </li>
      <li>
        <a href="#" {{action "displayMemberships"}} class="portfolio-isolated--side-nav--link {{if (eq displayGroup "memberships") "active"}}">
          {{svg-jar "memberships" width="18px" height="18px" class="portfolio-isolated--side-nav--icon"}}
          Memberships
        </a>
      </li>
      <li>
        <a href="#" {{action "displayAssets"}} class="portfolio-isolated--side-nav--link {{if (eq displayGroup "assets") "active"}}">
          {{svg-jar "assets" width="18px" height="18px" class="portfolio-isolated--side-nav--icon"}}
          Assets
        </a>
      </li>
    </ul>
  </nav>

  <header class="portfolio-isolated--header portfolio-isolated--grid-header" data-test-portfolio-isolated-header>
    <h1 class="portfolio-isolated--title">My Cardfolio</h1>
    <h2 class="portfolio-isolated--sub-title">Credentials, Memberships & Tracked Assets</h2>
  </header>

  {{!-- TODO: Need copy --}}
  {{#unless isDismissed}}
    <section class="portfolio-isolated-intro" data-test-portfolio-isolated-intro>
      {{svg-jar "cardstack-logo" width="42px" height="42px" class="portfolio-isolated-intro--icon"}}
      <h2 class="portfolio-isolated-intro--title">Welcome to your Personalized Wallet</h2>
      <p class="portfolio-isolated-intro--copy">
        You can register to view credentials, memberships and tracked assets across all your sites.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed scelerisque ex, sed
        elementum lorem. Phasellus sit amet ipsum in tellus vestibulum tincidunt. Etiam rhoncus,
        orci quis elementum pulvinar, leo lectus feugiat ligula.
      </p>
      <button onclick={{action "dismiss"}} class="portfolio-isolated-intro--button">
        Dismiss
        {{svg-jar "close" width="10px" height="10px" class="portfolio-isolated-intro--button-icon"}}
      </button>
    </section>
  {{/unless}}

  {{#unless (eq displayGroup "assets")}}
    <section id="memberships" class="portfolio-section" data-test-portfolio-section="memberships">
      <header class="portfolio-section--header">
        <h2 class="portfolio-section--title">
          {{svg-jar "memberships" width="26px" height="26px" class="portfolio-section--icon"}}
          Memberships
        </h2>
      </header>
      <section class="portfolio-subsection">
        <ul class="portfolio-subsection--grid">
          {{!-- TODO: Add membership cards --}}
          Coming Soon
        </ul>
      </section>
    </section>
  {{/unless}}

  {{#unless (eq displayGroup "memberships")}}
    <section id="assets" class="portfolio-section" data-test-portfolio-section="assets">
      <header class="portfolio-section--header">
        <h2 class="portfolio-section--title">
          {{svg-jar "assets" width="26px" height="26px" class="portfolio-section--icon"}}
          Assets
        </h2>
      </header>
      {{#each content.wallets as |wallet|}}
        <section class="portfolio-subsection">
          <header class="portfolio-subsection--header">
            {{!-- TODO: Use network title --}}
            <h3 class="portfolio-subsection--title">{{wallet.title}}</h3>
          </header>
          <ul class="portfolio-subsection--grid">
            {{!-- TODO: Use actual asset --}}
            {{#each wallet.assets as |asset index|}}
              <li data-test-portfolio-asset={{index}}>
                {{cardstack-content content=asset format="embedded"}}
              </li>
            {{/each}}
          </ul>
        </section>
      {{/each}}
    </section>
  {{/unless}}
</main>