{{#cardstack-edges}}
  {{#squishable-container}}

    {{!-- fastboot guard --}}
    {{#if (is-component "cardstack-session")}}
      {{#cardstack-session as |session|}}
        {{#unless session.is-component}}
          <a data-test-registration-page-link href="/register">Register</a>
        {{/unless}}
        {{#mock-login as |login|}}
          {{#if session.isAuthenticated }}
            <button {{action session.logout}} data-test-signout-button>
              Sign out {{session.user.name}}
            </button>
          {{else}}
            <button {{action login}} data-test-signin-button>Sign in</button>
          {{/if}}
        {{/mock-login}}
      {{/cardstack-session}}
    {{/if}}

    {{outlet}}

  {{/squishable-container}}
{{/cardstack-edges}}
