<div class="register-isolated">
  <h1 class="register-isolated__title">Create your account</h1>
  {{#if registrationSuccessful}}
    {{!-- TODO eventually we should get rid of this and just automatically authenticate user and transition to app card --}}
    <p class="register-isolated__success" data-test-registration-success>
      You have been registered. Please login to application.
    </p>
    <button
      {{action transitionToAppCard}}
      class="register-isolated__button register-isolated__button--dismiss"
      data-test-registration-success-dismiss
    >
      Ok
    </button>
  {{else}}
    {{#if registrationError}}
      <p class="register-isolated__error" data-test-registration-error>{{registrationError}}</p>
    {{/if}}
    <form onsubmit={{action submitForm}} class="register-isolated__form" data-test-registration-form>
      <div class="register-isolated__form-row">
        <label>
          <span class="register-isolated__label">Full Name</span>
          <input
              type="text"
              value={{name}}
              oninput={{action doOnInput 'name'}}
              class="register-isolated__input"
              data-test-registration-name
              />
        </label>
      </div>
      <div class="register-isolated__form-row">
        <label>
          <span class="register-isolated__label">Email</span>
          <input
              type="email"
              value={{email}}
              oninput={{action doOnInput 'email'}}
              class="register-isolated__input"
              data-test-registration-email
              />
        </label>
      </div>
      <div class="register-isolated__form-row">
        <label>
          <span class="register-isolated__label">Password (minimum 8 characters)</span>
          <input
              type="password"
              value={{password}}
              oninput={{action doOnInput 'password'}}
              class="register-isolated__input"
              data-test-registration-password
              />
        </label>
      </div>
      <div class="register-isolated__button-row">
        <button
          type="submit"
          class="register-isolated__button {{if (not formCanBeSubmitted) "disabled"}}"
          disabled={{not formCanBeSubmitted}}
          data-test-registration-submit
        >
          Register
        </button>
        <button
          class="register-isolated__button register-isolated__button--cancel"
          {{action transitionToAppCard}}
          data-test-registration-cancel
        >
          Cancel
        </button>
      </div>
    </form>
  {{/if}}
</div>
