{{!-- When the session does not exist then the error card takes over and renders the login form --}}
<AccountCard>
{{!-- fastboot guard --}}
{{#if (is-component "cardstack-session")}}
  {{#cardstack-session as |session|}}
    {{#if session.isAuthenticated}}
      <div class="user-isolated" data-test-user-isolated>
        <header class="user-isolated__header">
          <h1 class="user-isolated__title">{{svg-jar "user-icon" width="18px" height="20px"}} Profile</h1>
          <button onclick={{action transitionToPortfolio}} class="user-isolated__close-button">
            {{svg-jar "close" width="12px" height="12px"}}
          </button>
        </header>

        <div class="user-isolated__section">
          <div class="user-isolated__picture">
            {{#if content.avatarUrl}}
              <div style={{css-url "background-image" content.avatarUrl}} class="user-isolated__picture-avatar" />
            {{else}}
              <div class="user-isolated__picture-avatar user-isolated__picture-avatar--default">
                {{or userInitials (svg-jar "user-icon" width="40px" height="40px")}}
              </div>
            {{/if}}
            <div class="user-isolated__upload-photo">Upload a Photo</div>
            {{!-- TODO: use cardstack photo upload tool --}}
          </div>

          <LogoutButton class="user-isolated__logout"></LogoutButton>
        </div>

        <form onsubmit={{action submitForm}} class="user-isolated__form" data-test-user-form>
          <div class="user-isolated__form-row">
            <label>
              <span class="user-isolated__label">Full Name</span>
              {{#if editName}}
                <input
                  type="text"
                  placeholder="Full name"
                  value={{name}}
                  oninput={{action doOnInput 'name'}}
                  class="user-isolated__input"
                  data-test-user-name
                  />
              {{else}}
                <div class="user-isolated__display">
                  <div class="user-isolated__display-info" data-test-user-name-display>{{name}}</div>
                  <button
                    {{action editField 'editName'}}
                    class="user-isolated__display-button"
                    data-test-user-name-edit-button
                  >
                  {{svg-jar "edit" width="20px" height="20px"}}
                </button>
                </div>
              {{/if}}
            </label>
          </div>

          <div class="user-isolated__form-row">
            <label>
              <span class="user-isolated__label">Email Address</span>
              {{#if editEmail}}
                <input
                  type="email"
                  placeholder="hello@cardstack.com"
                  value={{email}}
                  oninput={{action doOnInput 'email'}}
                  class="user-isolated__input"
                  data-test-user-email
                  />
              {{else}}
                <div class="user-isolated__display">
                  <span class="user-isolated__display-info" data-test-user-email-display>{{email}}</span>
                    <button
                    {{action editField 'editEmail'}}
                    class="user-isolated__display-button"
                    data-test-user-email-edit-button
                  >
                  {{svg-jar "edit" width="20px" height="20px"}}
                </button>
                </div>
              {{/if}}
            </label>
          </div>

          <div class="user-isolated__form-row">
            <label>
              <span class="user-isolated__label">{{if editPassword "Current "}}Password</span>
              {{#if editPassword}}
                <input
                    type="password"
                    value={{currentPassword}}
                    oninput={{action doOnInput 'currentPassword'}}
                    class="user-isolated__input {{if oldPasswordError "user-isolated__input--error"}}"
                    data-test-user-current-password
                    />
              {{else}}
                <div class="user-isolated__display">
                  <div class="user-isolated__display-info">********</div>
                  <button
                    {{action editField 'editPassword'}}
                    class="user-isolated__display-button"
                    data-test-user-password-edit-button
                  >
                  {{svg-jar "edit" width="20px" height="20px"}}
                </button>
                </div>
              {{/if}}
            </label>
          </div>
          {{#if editPassword}}
            <div class="user-isolated__form-row">
              <label>
                <span class="user-isolated__label">New Password (minimum 8 characters)</span>
                <input
                    type="password"
                    value={{newPassword}}
                    oninput={{action doOnInput 'newPassword'}}
                    class="user-isolated__input {{if newPasswordError "user-isolated__input--error"}}"
                    data-test-user-new-password
                    />
              </label>
            </div>
            <div class="user-isolated__form-row">
              <label>
                <span class="user-isolated__label">Confirm New Password:</span>
                <input
                    type="password"
                    value={{confirmNewPassword}}
                    oninput={{action doOnInput 'confirmNewPassword'}}
                    class="user-isolated__input {{if newPasswordError "user-isolated__input--error"}}"
                    data-test-user-confirm-new-password
                    />
              </label>
            </div>
          {{/if}}

          {{#if updateSuccessful}}
            <p class="user-isolated__message user-isolated__message--success" data-test-user-update-success>
              User profile has been updated.
            </p>
          {{else if formError}}
            <p class="user-isolated__message user-isolated__message--error" data-test-user-update-error>
              {{formError}}
            </p>
          {{/if}}

          {{#if isEditable}}
            <div class="user-isolated__button-row">
              <button
                type="submit"
                class="user-isolated__button {{if (not formCanBeSubmitted) "disabled"}}"
                disabled={{not formCanBeSubmitted}}
                data-test-user-submit
              >
                Update
              </button>
              <button
                class="user-isolated__button user-isolated__button--cancel"
                {{action resetForm}}
                data-test-user-reset
              >
                Cancel
              </button>
            </div>
          {{/if}}
        </form>
      </div>
    {{/if}}
  {{/cardstack-session}}
{{/if}}
</AccountCard>