<AnimatedContainer>
  <MovingBox @content={{content}} @class="asset-embedded asset-embedded--{{networkId}}">
    <a class="asset-embedded__link" data-test-asset-embedded-link href={{assetLink}}>
      <div class="asset-embedded__wrapper">
        <header class="asset-embedded__header">
          <AnimatedContainer class="asset-embedded__title-row">
            <MovingItem @content={{content}} @name="logo">
              {{svg-jar content.networkId width="22px" height="22px" class="asset-embedded__logo"}}
            </MovingItem>
            <MovingItem @content={{content}} @name="title">
              <h3 class="asset-embedded__title" data-test-asset-embedded-title>{{content.networkTitle}}</h3>
            </MovingItem>
          </AnimatedContainer>
        </header>
        <section class="asset-embedded__balance">
          <div class="asset-embedded__balance-main" data-test-asset-embedded-balance>
            &nbsp; {{! reserves height if the balance is loading asynchronously }}
            {{#if content.networkBalance}}
              {{wei-to-ethers content.networkBalance}}
            {{else}}
              {{assetBalance}}
            {{/if}}
            <span>{{content.networkUnit}}</span>
          </div>
          <div class="asset-embedded__balance-fiat" data-test-asset-embedded-fiat-value>
            {{!-- TODO you can use the "get-rate" helper to get the rate object used for the currency conversion
                <span>Rate as of {{get (get-rate content.networkUnit 'USD' content.todaysRate) 'gmtDate'}} 0:00 GMT</span>
            --}}
            {{#if content.networkBalance}}
              ≈ {{currency-symbol currency}}{{convert-currency content.networkUnit currency content.networkBalance content.todaysRatesLookup.rates}}
            {{else}}
              ≈ {{currency-symbol currency}}{{assetValue}}
            {{/if}}
            <span>{{currency}}</span>
          </div>
        </section>
      </div>
      <AnimatedContainer>
        <MovingInnerBox @content={{content}} @name="details">
          <footer class="asset-embedded__details">
            <div class="asset-embedded__details-item" data-test-asset-embedded-address>{{abbreviatedAddress}}</div>
            <div class="asset-embedded__details-item" data-test-asset-embedded-last-active>{{lastActiveDate}}</div>
          </footer>
        </MovingInnerBox>
      </AnimatedContainer>
    </a>
  </MovingBox>
</AnimatedContainer>
