<AnimatedContainer>
{{#animated-value content group="background" use=offscreenLeft initialInsertion=true finalRemoval=true }}
<a class="asset-embedded asset-embedded--{{networkId}}" data-test-asset-embedded-link href={{cardstack-url content}}>
  {{#animated-value content group="insides" use=dontScale initialInsertion=true finalRemoval=true}}
  <header class="asset-embedded__header">
    <div class="asset-embedded__title-row">
      {{#animated-value content group="logo" use=logoTransition initialInsertion=true finalRemoval=true }}
       {{svg-jar content.networkId class="asset-embedded__logo"}}
      {{/animated-value}}
      <h3 class="asset-embedded__title" data-test-asset-embedded-title>
        {{content.networkTitle}}
      </h3>
    </div>
    <a class="asset-embedded__tag" href={{cardstack-url content}}>Savings</a>
  </header>
  <section class="asset-embedded__section">
    <div class="asset-embedded__data-row" data-test-asset-embedded-balance>
      <span class="asset-embedded__value">
        {{#if etherBalance}}
          {{etherBalance}}
        {{else}}
          2.1434
        {{/if}}
      </span>
      <span class="asset-embedded__unit" data-test-asset-embedded-unit>{{content.networkUnit}}</span>
      {{!-- Add arrow icon and modal --}}
    </div>
    <div>
      <span class="asset-embedded__value--secondary">$8509.30</span>
      <span>USD</span>
    </div>
  </section>
  <footer class="asset-embedded__footer">
    <div class="asset-embedded__address" data-test-asset-embedded-address>{{abbreviatedAddress}}</div>
    <div class="asset-embedded__last-active" data-test-asset-embedded-last-active>
      {{lastActiveDate}}
      </div>
  </footer>
  {{/animated-value}}
</a>
{{/animated-value}}
</AnimatedContainer>