<a class="asset-embedded asset-embedded--{{networkId}}" data-test-asset-embedded-link href={{cardstack-url content}}>
  <header class="asset-embedded__header">
    <div class="asset-embedded__title-row">
      {{svg-jar content.networkId class="asset-embedded__logo"}}
      <h3 class="asset-embedded__title" data-test-asset-embedded-title>
        {{content.networkTitle}}
      </h3>
    </div>
    <a class="asset-embedded__tag" href={{cardstack-url content}}>Savings</a>
  </header>
  <section class="asset-embedded__section">
    <div class="asset-embedded__data-row" data-test-asset-embedded-balance>
      <span class="asset-embedded__value">
        {{#if content.networkAsset.balance}}
          {{wei-to-ethers content.networkAsset.balance}}
        {{else}}
          2.1434
        {{/if}}
      </span>
      <span class="asset-embedded__unit" data-test-asset-embedded-unit>{{content.networkUnit}}</span>
      {{!-- Add arrow icon and modal --}}
    </div>
    <div>
      {{!-- TODO you can use the "get-rate" helper to get the rate object used for the currency conversion
          <span>Rate as of {{get (get-rate content.networkUnit 'USD' content.todaysRate) 'gmtDate'}} 0:00 GMT</span>
      --}}
      <span class="asset-embedded__value--secondary" data-test-asset-embedded-fiat-value>
        {{#if content.networkAsset.balance}}
          {{currency-symbol 'USD'}}{{convert-currency content.networkUnit 'USD' content.networkAsset.balance content.todaysRatesLookup.rates}}
        {{else}}
          $8509.30
        {{/if}}
      </span>
      {{!-- TODO need to be able to configure the fiat currency displayed here --}}
      <span data-test-asset-embedded-fiat-currency>USD</span>
    </div>
  </section>
  <footer class="asset-embedded__footer">
    <div class="asset-embedded__address" data-test-asset-embedded-address>{{abbreviatedAddress}}</div>
    <div class="asset-embedded__last-active" data-test-asset-embedded-last-active>
      {{lastActiveDate}}
      </div>
  </footer>
</a>
