<div class="asset-isolated" data-test-asset-isolated>
  <TopHeader></TopHeader>
  <Breadcrumbs @isAsset="true"></Breadcrumbs>

  <main class="asset-isolated__main asset-isolated__grid">
    <div>
      <AnimatedContainer>
        <MovingBox @content={{content}} @class="asset-isolated__section asset-isolated__section--main asset-isolated__gradient--{{networkId}}">
          <div>
            <div class="">
              <header class="asset-isolated__header">
                <AnimatedContainer class="asset-isolated__title-row">
                  <MovingItem @content={{content}} @name="logo">
                    {{svg-jar content.networkId width="36px" height="36px" class="asset-isolated__logo"}}
                  </MovingItem>
                  <MovingItem @content={{content}} @name="title">

                    {{! these inline styles make it possible to align the text
                        correctly throughout animation. Ideally we should
                        instead refactor the isolated and embedded cards to
                        have semantically similar markup. There's not really a
                        good reason to structure the title and logo so
                        differently on each. }}
                    <h2 class="asset-isolated__title" data-test-asset-isolated-title>{{content.networkTitle}}</h2>
                  </MovingItem>
                </AnimatedContainer>
              </header>
              <section class="asset-isolated__summary">
                <div class="asset-isolated__summary-row" data-test-asset-isolated-balance>
                  <span class="asset-isolated__value">
                    {{wei-to-ethers content.networkAsset.balance}}
                  </span>
                  <span class="asset-isolated__unit" data-test-asset-isolated-unit>{{content.networkUnit}}</span>
                </div>
                <div>
                  <span class="asset-isolated__value--secondary" data-test-asset-isolated-fiat-value>
                    {{currency-symbol currency}}{{convert-currency content.networkUnit currency content.networkAsset.balance content.todaysRatesLookup.rates}}
                  </span>
                  <span class="asset-isolated__unit--secondary" data-test-asset-isolated-currency-name>{{currency}}</span>
                </div>
              </section>
              <div class="asset-isolated__currency-switcher">
                <button class="asset-isolated__currency-switcher__usd {{if (eq currency 'USD') 'active'}}" {{action setCurrency 'USD'}} data-test-asset-isolated-usd-button>USD</button>
                <button class="asset-isolated__currency-switcher__eur {{if (eq currency 'EUR') 'active'}}" {{action setCurrency 'EUR'}} data-test-asset-isolated-eur-button>EUR</button>
                <button class="asset-isolated__currency-switcher__btc {{if (eq currency 'BTC') 'active'}}" {{action setCurrency 'BTC'}} data-test-asset-isolated-btc-button>BTC</button>
              </div>
              <div class="asset-isolated__chart">
                {{#if content.assetHistory}}
                  {{cardstack-content content=content.assetHistory format="embedded"}}
                {{/if}}
              </div>
            </div>

            <AnimatedContainer>
              <MovingInnerBox @content={{content}} @name="details">
                <div class="asset-isolated__details">
                  <div class="asset-isolated__details-item" data-test-asset-isolated-address>
                    <h4 class="asset-isolated__details-item-title">Address</h4>
                    <a href="{{addressLink}}" class="asset-isolated__etherscan-link" target="_blank" rel="noopener" data-test-asset-isolated-etherscan-link>
                      {{content.formattedAddress}}
                    </a>
                  </div>
                  <div class="asset-isolated__details-item">
                    <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-established-date>Established</h4>
                    {{firstTransactionDate}}
                  </div>
                  <div class="asset-isolated__details-item" data-test-asset-isolated-num-transactions>
                    <h4 class="asset-isolated__details-item-title">Transactions</h4>
                    {{content.networkAsset.transactions.length}}
                  </div>
                  <div class="asset-isolated__details-item">
                    <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-last-active>Last active</h4>
                    {{lastActiveDate}}
                  </div>
                </div>
              </MovingInnerBox>
            </AnimatedContainer>
          </div>
        </MovingBox>
      </AnimatedContainer>

      <section class="asset-isolated__section asset-isolated__section--padding">
        <h3 class="asset-isolated__section-title bg-icon--history">Transaction History</h3>
        {{#each chronologicallyDescendingTransactions as |transaction index|}}
          <div data-test-asset-isolated-transaction={{index}}>
            {{cardstack-content content=transaction format="embedded"}}
          </div>
        {{/each}}
      </section>
    </div>

    <aside>
      <section class="asset-isolated__section asset-isolated__section--padding">
        <h3 class="asset-isolated__section-title bg-icon--wallet">Belongs To</h3>
        {{!-- TO DO: Query wallet and link to it  --}}
        <a href={{cardstack-url "/wallets/demo-wallet"}} class="asset-isolated__section-link">
          Demo Wallet
        </a>
      </section>

      <section class="asset-isolated__section">
        <div class="asset-isolated__section--padding">
          <h3 class="asset-isolated__section-title bg-icon--tag">Tags</h3>
          <ul class="asset-isolated__tags-list">
            <li><a href="/">Savings</a></li>
            <li><a href="/">Business Operations</a></li>
            <li><a href="/">International</a></li>
            {{!-- TAGS HERE --}}
          </ul>
        </div>
        <button class="asset-isolated__section-button bg-icon--add">
          Add custom tag
        </button>
      </section>
    </aside>
  </main>
</div>
