<div class="asset-isolated" data-test-asset-isolated>
  <TopHeader></TopHeader>
  <Breadcrumbs @wallet={{wallet}} @isAsset="true"></Breadcrumbs>

  <main class="asset-isolated__main asset-isolated__grid">
    <div>
      <AnimatedContainer>
        <MovingBox @content={{content}} @class="asset-isolated__section asset-isolated__section--main asset-isolated--{{networkId}}">
          <div>
            <div>
              <div class="asset-isolated__wrapper">
                <header class="asset-isolated__header">
                  <AnimatedContainer class="asset-isolated__title-row">
                    <MovingItem @content={{content}} @name="logo">
                      {{svg-jar content.networkId width="36px" height="36px" class="asset-isolated__logo"}}
                    </MovingItem>
                    <MovingItem @content={{content}} @name="title">
                      <h2 class="asset-isolated__title" data-test-asset-isolated-title>{{content.networkTitle}}</h2>
                    </MovingItem>
                  </AnimatedContainer>
                </header>
                <div class="asset-isolated__balance">
                  <div class="asset-isolated__balance-main" data-test-asset-isolated-balance>
                    {{#if content.networkAsset.balance}}
                      {{wei-to-ethers content.networkAsset.balance}}
                    {{else}}
                      {{assetBalance}}
                    {{/if}}
                    <span>{{content.networkUnit}}</span>
                  </div>
                  <div class="asset-isolated__balance-fiat" data-test-asset-isolated-fiat-value>
                    {{#if content.networkAsset.balance}}
                      ≈ {{currency-symbol currency}}{{convert-currency content.networkUnit currency content.networkAsset.balance content.todaysRatesLookup.rates}}
                    {{else}}
                      ≈ {{currency-symbol currency}}{{assetValue}}
                    {{/if}}
                    <span data-test-asset-isolated-currency-name>{{currency}}</span>
                  </div>
                </div>
                <div class="asset-isolated__currency">
                  <span>View as</span>
                  <div class="asset-isolated__currency-switcher">
                    <button class="{{if (eq currency 'USD') 'active'}}" {{action setCurrency 'USD'}} data-test-asset-isolated-usd-button>USD</button>
                    <button class="{{if (eq currency 'EUR') 'active'}}" {{action setCurrency 'EUR'}} data-test-asset-isolated-eur-button>EUR</button>
                    <button class="{{if (eq currency 'BTC') 'active'}}" {{action setCurrency 'BTC'}} data-test-asset-isolated-btc-button>BTC</button>
                  </div>
                </div>
              </div>
              <div class="asset-isolated__chart">
                {{#if content.assetHistory}}
                  {{cardstack-content content=content.assetHistory format="embedded"}}
                {{/if}}
              </div>
            </div>

            <AnimatedContainer>
              <MovingInnerBox @content={{content}} @name="details">
                <div class="asset-isolated__details">
                  <div class="asset-isolated__details-item" data-test-asset-isolated-address>
                    <h4 class="asset-isolated__details-item-title">Address</h4>
                    <a href="{{addressLink}}" class="asset-isolated__details-item-link" target="_blank" rel="noopener" data-test-asset-isolated-etherscan-link>
                      {{content.formattedAddress}}
                    </a>
                  </div>
                  <div class="asset-isolated__details-item">
                    <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-established-date>Established</h4>
                    {{firstTransactionDate}}
                  </div>
                  <div class="asset-isolated__details-item" data-test-asset-isolated-num-transactions>
                    <h4 class="asset-isolated__details-item-title">Transactions</h4>
                    {{content.networkAsset.transactions.length}}
                  </div>
                  <div class="asset-isolated__details-item">
                    <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-last-active>Last active</h4>
                    {{lastActiveDate}}
                  </div>
                </div>
              </MovingInnerBox>
            </AnimatedContainer>
          </div>
        </MovingBox>
      </AnimatedContainer>

      <section class="asset-isolated__section asset-isolated__section--padding">
        <h3 class="asset-isolated__section-title bg-icon--history">Transaction History</h3>
        {{#each chronologicallyDescendingTransactions as |transaction index|}}
          <div data-test-asset-isolated-transaction={{index}}>
            {{cardstack-content content=transaction format="embedded"}}
          </div>
        {{/each}}
      </section>
    </div>

    <aside>
      {{#if wallet}}
        <section class="asset-isolated__section asset-isolated__section--padding">
          <h3 class="asset-isolated__section-title bg-icon--wallet">Belongs To</h3>
          <a href={{cardstack-url wallet}} class="asset-isolated__section-link">
            {{#if wallet.logo}}
              {{svg-jar wallet.logo width="40px" height="40px" class="asset-isolated__section-logo"}}
            {{/if}}
            {{wallet.title}}
          </a>
        </section>
      {{/if}}

      <section class="asset-isolated__section">
        <div class="asset-isolated__section--padding">
          <h3 class="asset-isolated__section-title bg-icon--tag">Tags</h3>
          <ul class="asset-isolated__tags-list">
            <li><a href="/">Savings</a></li>
            <li><a href="/">Business Operations</a></li>
            <li><a href="/">International</a></li>
            {{!-- TAGS HERE --}}
          </ul>
        </div>
        <button class="asset-isolated__section-button bg-icon--add">
          Add custom tag
        </button>
      </section>
    </aside>
  </main>
</div>
