<TopHeader></TopHeader>

<div class="asset-isolated">
  <button class="asset-isolated__button-row">Back to My Portfolio</button>

  <h1 class="asset-isolated__title" data-test-asset-isolated-title>{{content.networkTitle}} Asset Detail</h1>
  <div class="asset-isolated__grid">
    <div>
      <section class="asset-isolated__main asset-isolated__group">
        <div class="asset-isolated__gradient asset-isolated__gradient--{{networkId}}">
          <div class="asset-isolated__gradient-header">
            <h2 class="asset-isolated__gradient-title">
              {{svg-jar content.networkId}} {{content.networkTitle}}
            </h2>
            <div class="asset-isolated__tag">Savings</div>
          </div>
          <div class="asset-isolated_gradient-wrapper">
            <div>
              <span class="asset-isolated__value">
                {{#if content.networkAsset.balance}}
                  {{wei-to-ethers content.networkAsset.balance}}
                {{else}}
                  2.1434
                {{/if}}
              </span>
              <span class="asset-isolated__unit" data-test-asset-isolated-unit>{{content.networkUnit}}</span>
            </div>
            <div>
              <span class="asset-isolated__value--secondary" data-test-asset-isolated-fiat-value>
                {{#if content.networkAsset.balance}}
                  {{currency-symbol 'USD'}}{{convert-currency content.networkUnit 'USD' content.networkAsset.balance content.todaysRates}}
                {{else}}
                  $8509.30
                {{/if}}
              </span>
              <span class="asset-isolated__unit--secondary">USD</span>
            </div>
          </div>
          <div class="asset-isolated__chart">
            <div>
              --- CHART HERE ---
            </div>
          </div>
        </div>

        <div class="asset-isolated__details">
          <div class="asset-isolated__details-item" data-test-asset-isolated-address>
            <h4 class="asset-isolated__details-item-title" >Address</h4>
            {{content.formattedAddress}}
          </div>
          <div class="asset-isolated__details-item">
            <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-established-date>Established</h4>
            {{firstTransactionDate}}
          </div>
          <div class="asset-isolated__details-item" data-test-asset-isolated-num-transactions>
            <h4 class="asset-isolated__details-item-title">Transactions</h4>
            {{content.networkAsset.transactions.length}}
          </div>
          <div class="asset-isolated__details-item">
            <h4 class="asset-isolated__details-item-title" data-test-asset-isolated-last-active>Last active</h4>
            {{lastActiveDate}}
          </div>
        </div>

        <div class="asset-isolated__buttons">
          <button>Transfer Funds</button>
          <button>Trade Currency</button>
        </div>
      </section>

      <section>
        <h3 class="asset-isolated__section-title">Transaction History</h3>
        <div class="asset-isolated__group asset-isolated__transactions">
          {{#each content.networkAsset.transactions as |transaction index|}}
            <div data-test-asset-isolated-transaction={{index}}>
              {{cardstack-content content=transaction format="embedded"}}
            </div>
          {{/each}}
        </div>
      </section>
    </div>

    <aside>
      <section>
        <h3 class="asset-isolated__section-title">Wallet</h3>
        <div class="asset-isolated__group">
          <div class="asset-isolated__group-title">{{svg-jar "ing-logo"}} ING Wallet</div>
          <button class="asset-isolated__group-button">
            Move funds to another wallet
          </button>
        </div>
      </section>
      <section>
        <h3 class="asset-isolated__section-title">Tags</h3>
        <div class="asset-isolated__group">
          <div class="asset-isolated__group-title">
            <span>Savings</span>
            <span>Business Operations</span>
            <span>International</span>
            {{!-- TAGS HERE --}}
          </div>
          <button class="asset-isolated__group-button">
            Add custom tag
          </button>
        </div>
      </section>
    </aside>
  </div>
</div>
