<a class="wallet-embedded" href={{cardstack-url content}}>
  <header class="wallet-embedded__header" data-test-wallet-embedded-count>
    {{or content.assets.length "0"}} Assets
    {{!-- Add wallet icon --}}
  </header>
  <section class="wallet-embedded__main">
    {{svg-jar content.logo class="wallet-embedded__logo"}}
    <h3 class="wallet-embedded__title" data-test-wallet-embedded-title>{{content.title}}</h3>
  </section>
  <footer class="wallet-embedded__footer">
    <div class="wallet-embedded__label">Approximate Value</div>
    <div class="wallet-embedded__value" data-test-wallet-embedded-value>
      {{currency-symbol 'USD'}} {{accountUSDTotal}}
    </div>
  </footer>
</a>